body {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

* {
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.banner {
  color: #fefefe;
  background: #37abdd;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: -0.5rem -1rem;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}
